// Card Stylesheet //

.fl {
  float: left;
}

.fr {
  float: right;
}

.card{
  width: 492px;
  height: 298px;
  background: url('../bespoke/card/default.png') no-repeat;
  text-align: center;
  position: relative;
  margin: 25px auto 20px;
}


.card_row{
  width: 442px;
  margin: 0 auto;
  text-align: left;
}

.card_row span.text{
  font-size: 10pt;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.card_row input{
  font-size: 12pt;
}

.card_row input:focus{
  outline: none;
  box-shadow: 0px 0px 10px #fff;

}

.card .select_box_dropdown {

border: 1px solid #999;
box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(0, 0, 0, 0.3);

}

#security-help{
  position:absolute; right:-240px; top: 150px; display: none;
}

#help{
  float: right; margin-top: 10px; cursor: pointer;
}

.card_number{
  width: 442px;
  height: 46px;
  border-radius: 4px;
  padding-left: 15px;
  border: 1px solid #999;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(0, 0, 0, 0.3);
  background: white url('../bespoke/icons/lock.png') no-repeat 410px 11px;
            letter-spacing: 1px;
}

.security_code{
  width: 129px;
  height: 46px;
  border-radius: 4px;
  padding-left: 15px;
  margin-left: 14px;
  background: white url('../bespoke/icons/security_code.png') no-repeat 83px 8px;
  border: 1px solid #999;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(0, 0, 0, 0.3);
            letter-spacing: 1px;
}

#expire_date{
  width: 263px;
  text-align: center;

}
#expire_month{
  margin-right:14px;
}

/*Card Types*/



.default, .card .select_box_dropdown.default {
  border: 1px solid #999;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.visa, .card .select_box_dropdown.visa
{
  border: 1px solid #1969b2;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.amex, .card .select_box_dropdown.amex
{
  border: 1px solid #7f886e;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.mastercard, .card .select_box_dropdown.mastercard
{
  border: 1px solid #3e64b1;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.discover, .card .select_box_dropdown.discover
{
  border: 1px solid #4d7fa2;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(0, 0, 0, 0.3);
}



.select_box_dropdown {
  width: 210px; /* width = (desired width) - padding-right */
  padding-right: 40px;
  padding-left: 10px;
  position: relative;
  border: solid 1px #d9d9d9;
  line-height: 23pt;
  text-decoration: none;
  outline: none;
  vertical-align: middle;
  background: #FFFFFF;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
  border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  font-size: 9pt;
  color: #777;

}

#quantity .select_box_dropdown {
  width: 15px; /* width = (desired width) - padding-right */
}

#expire_month .select_box_dropdown  {
  width: 100px; /* width = (desired width) - padding-right */
  height: 44px;
  font-size: 10pt;
  line-height: 29pt;
}

#expire_year .select_box_dropdown  {
  width: 40px; /* width = (desired width) - padding-right */
  font-size: 10pt;
  line-height: 29pt;
}

.select_box_dropdown:focus,
.select_box_dropdown:focus .select_box_arrow {
  border-color: #bbb;
}

.select_box_dropdown.select_box_menu_showing {
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select_box_dropdown .select_box_label {
  width: 100%;
  padding: .2em .3em;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

.select_box_dropdown .select_box_arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 100%;
  background: url(../bespoke/select_arrows.png) 50% center no-repeat;
}


/* Dropdown menu */
.select_box_dropdown-menu {
  position: absolute;
  z-index: 99999;
  max-height: 200px;
  border: solid 1px #bbb; /* should be the same border width as .select_box_dropdown */
  background: #FFF;
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  overflow: auto;
}


/* Inline control */
.select_box_inline {
  width: 250px;
  outline: none;
  border: solid 1px #BBB;
  background: #FFF;
  display: inline-block;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: auto;
}

.select_box_inline:focus {
  border-color: #666;
}


/* Options */
.select_box_options,
.select_box_options LI,
.select_box_options LI A {
  list-style: none;
  display: block;
  cursor: default;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 10pt;
}

.select_box_options LI A {
  line-height: 1.5;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  background: 6px center no-repeat;
}

.select_box_options LI.select_box_hover A {
  background-color: #EEE;
}

.select_box_options LI.select_box_disabled A {
  color: #999;
  background-color: transparent;
}

.select_box_options LI.select_box_selected A {
  background-color: #C8DEF4;
}

.select_box_options .select_box_optgroup {
  color: #666;
  background: #EEE;
  font-weight: bold;
  line-height: 1.5;
  padding: 0 .3em;
  white-space: nowrap;
}


/* Disabled state */
.selectBox.select_box_disabled {
  color: #aaa !important;
  opacity: .6;
  filter: alpha(opacity=60);
}

.select_box_dropdown.select_box_disabled .select_box_arrow {
  opacity: .2;
  filter: alpha(opacity=20);
  border-color: #666;
}

.select_box_inline.select_box_disabled {
  color: #aaa !important;
}

.select_box_inline.select_box_disabled .select_box_options A {
  background-color: transparent !important;
}