// Background Wrapper Styles //

.home, .content, .registrations, .sessions {
  .background-wrapper {
    background: url(/assets/bg_square.jpg) no-repeat center center;
    // background: url(../bg_twobag_reverse.jpg) no-repeat center left;
    background-size: cover;
    header {
      background-color: rgba(255, 255, 255, 0.0);
    }
    img {
      width: 70%;
      margin: 0 15%;
    }
  }
}

.home {
  .background-wrapper {
    color: rgba(255, 255, 255, 1.0);
  }
  [class*="row"] {
    text-align: center;
    margin-bottom: 1rem;
  }
  .features {
    [class*="grid"] {
      position: relative;
      border-radius: 4px;
      .inner {
        min-height: 10rem;
        height: 100%;
        border-radius: 4px;
        padding: 0.5rem;
        background-color: rgba(53, 108, 60, 0.6); // green
      }
      // temp
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
  .action {
    border-radius: 4px;

    // temp
    background-color: rgba(255, 255, 255, 0.4); //white
  }
}