// Background Wrapper Styles //

.home {
  .background-wrapper {
    background: url(/assets/bg_square.jpg) no-repeat center center;
    background: url(/assets/bg_tonx.jpg) no-repeat center center;
    background-size: cover;
  }
}

.content, .registrations, .sessions, .users, .passwords {
  .background-wrapper {
    background: #bdb59e url(/assets/bg_forefathers.png) center center;
  }
}

.home, .content, .registrations, .sessions, .users, .passwords {
  .background-wrapper {
    header {
      background-color: rgba(255, 255, 255, 0.0);
    }
  }
}

.home, .sessions, .passwords, .users {
  .background-wrapper {
    color: rgba(255, 255, 255, 1.0);
  }
  [class*="row"] {
    text-align: center;
    margin-bottom: 1rem;
  }
  .features {
    [class*="grid"] {
      padding: 0.25rem;
      position: relative;
      .inner {
        position: relative;
        min-height: 10rem;
        height: 100%;
        padding: 0.5rem;
        background-color: rgba(53, 108, 60, 0.6); // green
        // background: url(/assets/bg_paper_blue.jpg) no-repeat center center;
        background-size: cover;
        .img {
          width: 60%;
          margin: 0 15%;
        }
      }
      // temp
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
  .action, .sign-in, .forgot {
    margin-top: 6rem;
    padding: 0.25rem;
    .inner {
      position: relative;
      height: 100%;
      // min-height: 21.7rem;
      padding: 0.5rem;
      background-color: rgba(255, 255, 255, 0.8); //white
      color: rgba(31, 47, 55, 1.0); // grey
      hr {
        border: 0.2rem double rgba(255, 255, 255, 0.5);
        margin: 1rem;
      }
    }
    // temp
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .btn-gobrew {
    img {
      margin-top: 1.4rem;
    }
  }
}

.action {
  h4 {
    font-family: 'Landmark Regular A', 'Landmark Regular B';
    font-weight: 400;
    font-style: normal;
  }
}

.sessions, .passwords {
  .sign-in, .forgot {
    margin-top: 0.5rem;
  }
  h2 {
    margin-bottom: 1rem;
  }
  input {
    margin-bottom: 1rem;
  }
}

.home {
  .container {
    [class*="row"] {
      padding-top: 4.2rem;
    }
  }
}

.price-wrapper {
  p {
    padding: 0 0.5rem;
    font-size: 0.6rem;
    line-height: 0.8rem;
  }
  span {
    font-size: 4.0rem;
    line-height: 4.2rem;
    color: #f3901f; //orange
  }
}


// Hero //

.hero {
  header {
    width: 100%;
  }
  padding-top: 1rem;
  img {
    width: 40%;
    margin-bottom: 2.8rem;
  }
  hr {
    border: 0.2rem double rgba(255, 255, 255, 0.5);
  }
  h2 {
    font-family: 'Landmark Dimensional A', 'Landmark Dimensional B';
    font-weight: 400;
    font-style: normal;
    // font-size: 3.2rem;
    // line-height: 3.4rem;
    font: 40px/1 "Landmark Dimensional A", "Landmark Dimensional B";
    padding: 0;
    color: rgba(31, 47, 55, 1.0); // grey
  }
  h3 {
    padding-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}