// Master Header //

.home, .content, .registrations, .sessions, .users, .passwords {
  .master-header {
    z-index: 100;
    padding: 0.65rem;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.content {
  .master-header {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.home {
  .master-header {
    background-color: rgba(255, 255, 255, 0.0);
    img {
      display: none;
    }
  }
}

.master-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  img {
    float: left;
    width: 12rem;
  }
}