// Master Header //

.home, .content, .registrations, .sessions {
  .master-header {
    z-index: 100;
    padding: 0.65rem;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.home {
  .master-header {
    background-color: rgba(255, 255, 255, 0.0);
    img {
      display: none;
    }
  }
}

.master-header {
  z-index: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.6rem;
  img {
    float: left;
    width: 12rem;
  }
  .alert {
    position: fixed;
    width: 40%;
    margin: 0 30%;
    padding: 0.4rem;
    z-index: 101;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    text-align: center;
    .close {
      position: absolute;
      top: 0.1rem;
      right: 0.4rem;
    }
  }
}