// class = registrations edit //

.edit {
  .background-wrapper {
    background: url(../bg_bluebottle.jpg) no-repeat center center;
    .postcard {
    position: relative;
    .preferences {
      background: url(../bg_cardboard_recycled.jpg) center center;
      p {
        padding: 1.4rem;
        color: rgba(255, 255, 255, 1.0);
      }
    }
    article {
      position: relative;
      background: url(../bg_lovely_canvas.jpg) no-repeat center center;
      background-size: cover;
      padding: 0;
      // border: 8px solid #fff;
      border-radius: 8px;
      box-shadow: 0 0 5px #000;
      min-height: 22rem;
      header {
        padding: 1.4rem 0.4px 0.4px;
        border-bottom: 3px double rgba(0, 0, 0, 0.2);
        text-align: center;
        h2 {
          color: rgba(0, 0, 0, 0.4);
        }
        // temp //
      }
      p {
        color: rgba(0, 0, 0, 0.4);
        margin: 0;
      }
      .post-strip-top {
        position: absolute;
        top: 8px;
        height: 10px;
        width: 100%;
        background: url(../letter-form-send.png) center center;
        }
      .post-strip-bottom {
        position: absolute;
        bottom: 8px;
        height: 10px;
        width: 100%;
        background: url(../letter-form-send.png) center center;
        }
      .grouped {
         padding: 5px;
      }
      input[type="text"], input[type="password"], input[type="email"] {
        background: rgba(255, 255, 255, 0.2);
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: none;
        margin: 0;
      }
      .error-message {
        font-size: 0.8rem;
        // padding-left: 5px;
        color: rgba(0, 0, 0, 0.6);
      }
      h1, h2, h3, h4 {
        margin: 0;
      }
      .user-fields, .address-fields {
        p {
          padding-left: 0.5rem;
        }
      }
      .address-fields {
      }

      // temp //
    }
  }
  }
}
