<div class="background-wrapper homepage">
  <header></header>
  <section class="container">
    <article class="row">
      <section class="grid-3 hero">
        <%= link_to image_tag("bg_logo_compact.svg")%>
        <h1>Freshly Roasted Coffee.</h1>
        <h2>Direct to Your Doorstep</h2>
        <h2>£7.45</h2>
        <p>per pack</p>
        <%= link_to 'Silver', new_user_registration_path(:plan => 'silver'), :class => 'btn btn-primary' %>
        <%= link_to 'Gold', new_user_registration_path(:plan => 'gold'), :class => 'btn btn-primary' %>
        <%= link_to 'Platinum', new_user_registration_path(:plan => 'platinum'), :class => 'btn btn-primary' %>
      </section>
    </article>
  </section>
</div>