<div class="background-wrapper signup">
  <section class="container">
    <section class="row postcard">
      <article class="grid-3">
          <h2>Sign up</h2>
        <div id="stripe_error" class="alert alert-error" style="display:none" >
        </div>

      </article>
      <article class="grid-3">
        <h1>Content#silver</h1>
<p>Find me in app/views/content/silver.html.erb</p>
      </article>
    </section>
  </section>
</div>