<div class="background-wrapper">
  <header></header>
  <section class="container">
    <article class="row">
      <section class="grid-3">
        <h2>Monthly Subscription</h2>
      </section>
      <section class="grid-3">
        <h2>Monthly Subscription</h2>
      </section>
    </article>
  </section>

</div>